
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="about-me-text">
    <h2>About Me</h2>
    <p>I am a web developer and I love to create websites. I am a very good developer and I am always looking for new projects. I am a very good developer and I am always looking for new projects.</p>
</div>
</div>

